POSTGRES_DB=dni_api
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql+psycopg2://postgres:postgres@db:5432/dni_api
API_KEY=pon_aqui_tu_api_key
PERUDEVS_TOKEN=pon_aqui_tu_token
PERUDEVS_BASE_URL=https://api.perudevs.com/api/v1/dni/complete
PERUDEVS_TIMEOUT=10
